.cart {
  position: fixed;
  bottom: -100vh;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  nav {
    justify-content: center !important;
    .icon {
      font-size: 3rem !important;
      margin: 2px 0 0 2px !important;
    }
  }
  .item {
    background: unset;
  }
  .item-inner {
    border: unset !important;
  }
  &.is-open {
    bottom: 0;
    transition: all linear 0.25s;
    .cart-body {
      height: calc(100vh - 20px);
    }
  }
}

.cart-checkout {
  position: fixed;
  bottom: -60px;
  left: 0;
  width: 100%;
  border-radius: 30px;
  z-index: 1000;
  &.is-shown {
    bottom: 0;
    border-radius: 0;
    transition: all linear 0.2s;
  }
}

.ios .cart {
  ion-toolbar {
    // min-height: calc(44px + 20px);
    // min-height: calc(44px + constant(safe-area-inset-top));
    // min-height: calc(44px + env(safe-area-inset-top));
  }
  &.is-open {
    padding-top: 20px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    .cart-body {
      height: calc(100vh - constant(safe-area-inset-top));
      height: calc(100vh - env(safe-area-inset-top));
    }
  }
}

.cart-body {
  background: color($colors, gray);
  .shop-item {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(black, 0.15) !important;
  }
  .shop-item-info {
    h1,
    h2 {
      color: #fff;
    }
  }
  button {
    background: unset;
    .icon {
      color: #fff;
    }
  }
}

.cart-totals {
  background: darken(color($colors, gray), 10);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    margin: 0;
  }
}