@import "../theme/forms";
@import "../theme/buttons";
@import "../theme/header";
@import "../theme/menu";
@import "../theme/tabs";
@import "../theme/lazyload";

page-account,
page-checkout {
  .content {
    background: color($colors, light);
  }
}

ion-card.card {
  border-radius: $border-radius;
}

.text-warning {
  color: red;
  font-weight: 700;
}

ul {
  line-height: 1.6;
  list-style: circle;
}

table {
  text-align: left;
  th,
  td {
    padding: 1rem;
    border-top: 1px solid #fff;
    background: color($colors, light);
    font-weight: 600;
    vertical-align: top;
  }
  th {
    background: color($colors, medium);
    width: 30%;
  }


}